<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Amado - Furniture Ecommerce Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="~/Content/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/css/core-style.css">
    <!--<link rel="stylesheet" href="~/Content/scss/style.scss">-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        @Html.Partial("Search")
    </div>
    <!-- Search Wrapper Area End -->
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <!--<div class="mobile-nav">-->
            <!-- Navbar Brand -->
            <!--<div class="amado-navbar-brand">
                <a href="index.html"><img src="~/Content/img/core-img/logo.png" alt=""></a>
            </div>-->
            <!-- Navbar Toggler -->
            <!--<div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>-->

        <!-- Header Area Start -->
        @Html.Partial("Header")
        <!-- Header Area End -->
        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            @RenderBody()
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    <!-- ##### Newsletter Area Start ##### -->
    <section class="newsletter-area section-padding-100-0">
        <div class="container">
            @Html.Partial("Middle")
        </div>
    </section>
    <!-- ##### Newsletter Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    @Html.Partial("Footer")
    <!-- ##### Footer Area End ##### -->
    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="~/Scripts/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Scripts/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/Scripts/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Scripts/js/active.js"></script>

</body>

</html>